# PORT=5000
# MONGO_URI=your_mongodb_atlas_connection_string
# JWT_SECRET=replace_with_a_long_random_secret
# CLIENT_URL=http://localhost:5173
PORT=5000
MONGO_URI=mongodb+srv://admin:admin12345@cluster0.py3exyi.mongodb.net/finance_tracker?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=finance_secret_key
CLIENT_URL=http://localhost:5173